.align-sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 40px;
}

.sort-btn {
  display: flex;
  align-items: center;
  width: 190px;
  background-color: #d32262;
  font-size: 24px;
  color: white;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 5px 4px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.sort-btn:hover {
  background-color: #7239bd;
}

.sort-btn > h1 {
  font-size: 24px;
  margin-left: -10px;
  margin-right: -10px;
  width: 190px;
  color: white;
}

.filter-btn {
  display: flex;
  align-items: center;

  background-color: #2b2038;

  color: white;
  cursor: pointer;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 5px 4px;
  height: 40px;
  margin-left: 30px;
  transition: 0.3s;
}

.filter-btn:hover {
  background-color: #352744;
}

.filter-arrow {
  margin-top: 5px;
}

.filter-btn > h1 {
  width: 100%;

  font-size: 24px;
  margin: 0;
  margin-right: 10px;

  color: white;
}

@media (max-width: 1024px) {
  .filter-btn {
    margin-left: 15px;
  }
  .filter-btn > h1 {
    font-size: 22px;
  }
  .sort-btn > h1 {
    font-size: 22px;
  }
  .sort-btn {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .filter-btn > h1 {
    font-size: 21px;
  }
  .sort-btn > h1 {
    font-size: 21px;
  }
  .sort-btn {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .filter-btn > h1 {
    font-size: 18px;
  }
  .sort-btn > h1 {
    font-size: 18px;
  }
  .sort-btn {
    width: 130px;
  }
  .align-sort {
    margin-top: 20px;
  }
}
