.align-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.category-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0px;
  background-color: #6259ba;

  height: auto;
  width: auto;
  font-size: 11px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  border-left: 3px solid rgba(255, 255, 255, 0);
  border-right: 3px solid rgba(255, 255, 255, 0);
  z-index: 5;
}

.category-btn:hover {
  display: flex;
  border-left: 3px solid white;
  border-right: 3px solid white;
  background-color: #5959b8;
}

.category-btn h1 {
  margin: 0px;
}
.arrow {
  width: 20px;
  margin-top: 3px;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}
.arrow.rotate {
  transform: rotate(-180deg);
}

.category-container {
  position: absolute;
  top: 55px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  padding: 8px;
  gap: 5px;
  overflow: hidden;
  background-color: #161325;
  box-shadow: 0px 8px 10px 10px rgba(0, 0, 0, 0.724);
  border: 4px #54469c solid;
  border-top: 3px solid #54469c;
  border-bottom: 3px solid #54469c;

  z-index: 4;
  transition: 0.4s ease-in-out;
}

.category-container.hide {
  width: 0px;
  opacity: 0;
  padding-left: 0px;
  padding-right: 0px;
  border: 3px #54469c00 solid;
  box-shadow: 0px 15px 15px 10px rgba(0, 0, 0, 0);
}

.category-container.show {
  opacity: 1;
  width: 300px;
}

.category-switcher-btn {
  flex: 1 0 auto;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  color: #e7e4fd;
  font-weight: bold;
  font-size: 18px;
  background-color: #322f5a;
  border: 0px;
  cursor: pointer;
  transition: 0.4s;
  border-right: 3px #ffffff00 solid;
  border-left: 3px #ffffff00 solid;
  overflow: hidden;
}
.category-container .category-switcher-btn:nth-child(3n) {
  grid-column: span 2;
  justify-self: center;
  width: 100%;

  overflow: hidden;
}

.category-switcher-btn:hover {
  color: #ffffff;
  background-color: #6d5ec2;
  border-right: 3px #ffffff solid;
  border-left: 3px #ffffff solid;
}

@media (max-width: 1024px) {
  .category-btn {
    font-size: 11px;
  }

  .category-switcher-btn {
    flex: 1 0 auto;
    width: auto;

    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .category-btn {
    font-size: 11px;
  }
  .category-container {
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;

    gap: 7px;
  }

  .category-switcher-btn {
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .category-btn {
    font-size: 11px;
  }
  .category-container {
    margin-left: 5px;
    margin-right: 5px;

    gap: 7px;
    border-right: 3px #7a6ad547 solid;
    border-left: 3px #7a6ad547 solid;
  }

  .category-switcher-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}
