.Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  gap: 10px; /* Space between cards */

  margin-top: 10px;
  height: auto;
}

.align-cards {
  display: flex;
  justify-content: center;
  width: 100%;
}

.no-items-msg {
  color: white;
  font-size: 35px;
}

.product-name {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.card {
  flex-basis: 200px;
  box-sizing: border-box;
  position: relative;
  display: flex;

  align-items: center;
  flex-direction: column;

  width: 160px;
  height: 440px;

  margin-top: 15px;

  margin-left: 3px auto;
  margin-right: 3px auto;

  background-color: #1d1a23;
}

.align-count {
  position: absolute;
  bottom: 65px;
  display: flex;
  flex-direction: row;
}

.decrease-count {
  width: 30px;
  height: 30px;
  background-color: #403966;
  color: white;
  border: 0px;
  cursor: pointer;
  user-select: none;
}

.count {
  display: flex;
  justify-content: center;
  border-top: 1px solid #403966;
  border-bottom: 1px solid #403966;
  color: white;
  width: 120px;
  height: 28.5px;
  user-select: none;
}

.increase-count {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #403966;
  color: white;

  border: 0px;
  cursor: pointer;
  user-select: none;
}

.count-font {
  position: absolute;
  top: -19px;
  left: 8px;
}

.add-to-basket {
  position: absolute;
  bottom: 15px;
  width: 180px;
  height: 35px;
  background-color: #d32262;
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.add-to-basket:hover {
  background-color: #7239bd;
}

.product-price {
  position: absolute;
  bottom: 85px;
  color: #d32262;
  font-size: 20px;
}

.product-image {
  width: 170px;
  border-radius: 20px;

  user-select: none;
}

.image-align {
  display: flex;
  margin-top: 15px;
  align-items: center;
  height: 220px;
}

li {
  color: white;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .no-items-msg {
    color: white;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .card {
    flex-basis: 150px;
    border-bottom: 3px solid #d1336d;
    height: 350px;
  }
  .no-items-msg {
    color: white;
    font-size: 25px;
  }

  .product-name {
    color: white;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .add-to-basket {
    position: absolute;
    bottom: 10px;
    width: 130px;
    height: 35px;
    background-color: #d32262;
    color: white;
    font-size: 13px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  }

  .align-count {
    position: absolute;
    bottom: 55px;
    display: flex;
    flex-direction: row;
  }

  .decrease-count {
    width: 20px;
    height: 20px;
    background-color: #403966;
    color: white;
    border: 0px;
    cursor: pointer;
    user-select: none;
  }
  .product-price {
    position: absolute;
    bottom: 60px;
    color: #d32262;
    font-size: 20px;
  }

  .count {
    display: flex;
    justify-content: center;
    border-top: 1px solid #403966;
    border-bottom: 1px solid #403966;
    color: white;
    width: 90px;
    height: 18px;
    font-size: 15px;
    user-select: none;
  }
  .count-font {
    position: absolute;
    top: -15px;
    left: 6px;
    font-size: 19px;
  }

  .increase-count {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #403966;
    color: white;

    border: 0px;
    cursor: pointer;
    user-select: none;
  }
  .product-name {
    font-size: 16px;
  }

  .product-image {
    width: 130px;
  }
  .image-align {
    margin-top: -15px;
  }
}
