.HomePage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100vh;
  gap: 10px; /* Space between cards */
  padding: 15px; /* Add padding to the container */
  height: auto;
}

.no-items-msg {
  color: white;
  font-size: 35px;
}

.product-name {
  color: white;
  font-size: clamp(2px, 2px + 1rem, 3rem);
  margin-top: 20px;
  text-align: center;
}

.card {
  flex-basis: 200px;
  box-sizing: border-box;
  position: relative;
  display: flex;

  align-items: center;
  flex-direction: column;

  width: 220px;
  height: 440px;
  margin-top: 15px;

  margin-left: 3px auto;
  margin-right: 3px auto;
  margin: 1px; /* Margin around each card to create space between cards */
  background-color: #1d1a23;
}

.align-count {
  position: absolute;
  bottom: 65px;
  display: flex;
  flex-direction: row;
}

.decrease-count {
  width: 30px;
  height: 30px;
  background-color: #403966;
  color: white;
  border: 0px;
  cursor: pointer;
  user-select: none;
}

.count {
  display: flex;
  justify-content: center;
  border-top: 1px solid #403966;
  border-bottom: 1px solid #403966;
  color: white;
  width: 120px;
  height: 28.5px;
  user-select: none;
}

.increase-count {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #403966;
  color: white;

  border: 0px;
  cursor: pointer;
  user-select: none;
}

.count-font {
  position: absolute;
  top: -19px;
  left: 8px;
}

.add-to-basket {
  position: absolute;
  bottom: 15px;
  width: 180px;
  height: 35px;
  background-color: #d32262;
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.add-to-basket:hover {
  background-color: #7239bd;
}

.product-price {
  position: absolute;
  bottom: 85px;
  color: #d32262;
  font-size: 20px;
}

.product-image {
  width: 170px;
  border-radius: 20px;

  user-select: none;
}

.image-align {
  display: flex;
  margin-top: 15px;
  align-items: center;
  height: 220px;
}

li {
  color: white;
}

@media (max-width: 1024px) {
  .HomePage {
    margin-left: 30px;
  }

  .card {
    width: 501px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
