.product-page-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: white;
}

.loading-message-page {
  margin-top: 130px;
}

.align-cards {
  display: flex;
  justify-content: center;
  width: 100%;
}

.no-items-msg {
  color: white;
  font-size: 35px;
}

.product-name-page {
  color: white;
  font-size: 22px;
}
.product-name-box {
  margin-top: -10px;

  color: white;
  font-size: 22px;

  height: 50px;
}
.loading-image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 190px;
  width: 100%;
}

.align-count-page {
  position: absolute;
  bottom: 65px;
  display: flex;
  flex-direction: row;
}

.decrease-count-page {
  width: 30px;
  height: 30px;
  background-color: #403966;
  color: white;
  border: 0px;
  cursor: pointer;
  user-select: none;
}

.count-page {
  display: flex;
  justify-content: center;
  border-top: 1px solid #403966;
  border-bottom: 1px solid #403966;
  color: white;
  width: 120px;
  height: 28.5px;
  user-select: none;
}

.increase-count-page {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #403966;
  color: white;

  border: 0px;
  cursor: pointer;
  user-select: none;
}

.count-font {
  position: absolute;
  top: -19px;
  left: 8px;
}

.add-to-basket-page {
  position: absolute;
  bottom: 15px;
  width: 180px;
  height: 35px;
  background-color: #d32262;
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.add-to-basket-page:hover {
  background-color: #7239bd;
}

.product-price-page {
  position: absolute;
  bottom: 85px;
  color: #d32262;
  font-size: 32px;
}

.product-image-page {
  width: 170px;
  border-radius: 20px;

  user-select: none;
}

.image-align-page {
  display: flex;
  margin-top: 15px;
  align-items: start;
  height: 220px;

  border-radius: 20px;
}
.basket-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 230px;
  max-width: 430px;

  height: 170px;
  margin-bottom: 43px;
  background-color: #2b2038;
}

.description-box {
  width: 200px;

  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 45px;

  text-align: center;
}

.description-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.386);
}
.product-description-page {
  font-size: 14px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
