.align-greeting {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.greeting-msgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  background-color: #15121b;
  width: 85%;
  max-width: 1010px;

  border-right: 5px #7a6ad547 solid;
  border-left: 5px #7a6ad547 solid;
  border-top: 5px #1f1d2d solid;
  border-bottom: 5px #1f1d2d solid;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.greeting-msgs div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-msgs div h2 {
  margin-left: 5px;
}

.greeting-msgs h1 {
  color: #a39eff;
  font-size: 18px;
  margin: 0px;
}

.greeting-msgs h2 {
  color: #c0a6f9;
  font-size: 22px;

  margin: 0px;
}
.greeting-msgs h3 {
  color: #cac5ffc5;
  font-size: 15px;
  margin: 0px;
}

.Cards {
  display: flex;

  width: 100%; /* 
  .Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
} */
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1000px;
  gap: 10px; /* Space between cards */
  z-index: 2;
  height: auto;
  margin: 0 auto;
}

.loading-message {
  margin-top: 0px;
}
.no-items-msg-h {
  font-size: 25px;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 100px;
  color: #b5ade5;
}

.align-cards {
  display: flex;

  width: 100%;
  min-height: auto;
  margin-top: 20px;
  transition: 0.3s;
}

.product-name {
  color: #fffffff7;
  font-size: 18px;

  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.card {
  opacity: 0;
  transform: translateY(20px);

  box-sizing: border-box;
  position: relative;
  display: flex;
  border-bottom: 5px solid var(--main-color);
  align-items: center;
  flex-direction: column;

  width: 160px;
  height: 400px;

  padding-bottom: 15px;

  margin-top: 10px;
  transition: 0.3s;

  animation: fadeInUp 0.4s ease forwards;
  background-color: #131019;
}
.card:nth-child(even) {
  animation-delay: 0.1s;
}
.card:nth-child(odd) {
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-to-basket {
  width: 85%;
  height: 35px;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 20px;
  margin-top: 15px;
  border: 0px;
  border-left: 3px solid rgba(255, 255, 255, 0);
  border-right: 3px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.add-to-basket:hover {
  background-color: #655bc1;
  color: white;
}
.card:hover {
  border-bottom: 5px solid #655bc1;
}
.card:hover .add-to-basket {
  border-left: 3px solid white;
  border-right: 3px solid white;
  background-color: #655bc1;
  color: white;
}

.product-price {
  color: var(--main-color-accent-1);
  font-size: 20px;
  margin: 0px;
  margin-top: 20px;
}

.product-image {
  width: 85%;
  border-radius: 20px;
  margin-top: 10px;
  height: max-content;
  user-select: none;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.product-image.loaded {
  width: 90%;
  opacity: 1;
}

.image-align {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e0a1fd00;
  border-radius: 20px;
  overflow: hidden;
}

.image-align img {
  overflow: hidden;
  border-radius: 20px;
}

li {
  color: white;
}

@media (max-width: 1024px) {
  .card {
    min-width: 140px;
  }
  .product-image {
    width: 90%;
    height: fit-content;
    margin-right: 5px;
    margin-left: 5px;
  }

  .product-price {
    font-size: 16px;
  }
  .add-to-basket {
    height: 35px;
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100px;
    min-width: 140px;
    height: 350px;
  }
  .product-image {
    margin-right: 5px;
    margin-left: 5px;
    height: fit-content;
  }

  .product-price {
    font-size: 16px;
  }
  .add-to-basket {
    height: 35px;
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .greeting-msgs {
    line-height: 22px;
    border-right: 3px #7a6ad547 solid;
    border-left: 3px #7a6ad547 solid;
    padding: 10px;
  }
  .greeting-msgs div h2 {
    margin-left: 0px;
  }

  .greeting-msgs h1 {
    font-size: 14px;
    margin: 0px;
  }

  .greeting-msgs h2 {
    font-size: 18px;
    margin: 0px;
  }
  .greeting-msgs h3 {
    font-size: 12px;
    margin: 0px;
  }

  .greeting-msgs div {
    display: flex;
    flex-direction: column;
  }

  .card {
    flex-basis: 100px;
    min-width: 140px;
    height: 350px;
  }
  .product-image {
    margin-right: 5px;
    margin-left: 5px;
    height: fit-content;
  }

  .product-name {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .add-to-basket {
    height: 35px;
    font-size: 17px;
  }

  .product-price {
    font-size: 16px;
  }

  .product-name {
    font-size: 16px;
  }

  .image-align {
    border-radius: 20px;
  }

  .no-items-msg-h {
    font-size: 20px;
  }
}
