.align-greeting {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.greeting-msgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  background-color: #15121b;
  width: 85%;
  max-width: 1010px;

  border-right: 5px #7a6ad547 solid;
  border-left: 5px #7a6ad547 solid;
  border-top: 5px #1f1d2d solid;
  border-bottom: 5px #1f1d2d solid;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.greeting-msgs div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-msgs div h2 {
  margin-left: 5px;
}

.greeting-msgs h1 {
  color: #a39eff;
  font-size: 18px;
  margin: 0px;
}

.greeting-msgs h2 {
  color: #c0a6f9;
  font-size: 22px;

  margin: 0px;
}
.greeting-msgs h3 {
  color: #cac5ffc5;
  font-size: 15px;
  margin: 0px;
}

.Cards {
  display: flex;

  width: 100%; /* 
  .Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
} */
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1000px;
  gap: 10px; /* Space between cards */

  height: auto;
  margin: 0 auto;
}

.loading-message {
  margin-top: 130px;
}
.no-items-msg-h {
  font-size: 25px;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 100px;
  color: #b5ade5;
}

.align-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.product-name {
  color: #fffffff7;
  font-size: 18px;

  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.card {
  opacity: 0;
  transform: translateY(20px);

  box-sizing: border-box;
  position: relative;
  display: flex;
  border-bottom: 5px solid rgb(140, 91, 238);
  align-items: center;
  flex-direction: column;

  width: 160px;
  height: 440px;
  padding-bottom: 15px;

  margin-top: 15px;
  transition: 0.3s;
  margin: 15px 5px 0;
  animation: fadeInUp 0.4s ease forwards;
  background-color: #15111d;
}
.card:nth-child(even) {
  animation-delay: 0.1s;
}
.card:nth-child(odd) {
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.align-count {
  bottom: 65px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.decrease-count {
  width: 30px;
  height: 25px;
  background-color: #413c5d;
  color: rgba(255, 255, 255, 0.688);
  border: 0px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px 0px 0px 20px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #34304a;
  background-color: #191521;
  border-bottom: 1px solid #34304a;
  color: rgba(210, 197, 255, 0.89);
  font-weight: bold;
  width: 90px;
  height: 23.5px;
  font-size: 16px;
  user-select: none;
}

.increase-count {
  position: relative;

  width: 30px;
  height: 25px;
  background-color: #413c5d;
  color: rgba(255, 255, 255, 0.653);
  border-radius: 0px 20px 20px 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
}

.count-font {
  position: relative;
  top: -3px;
  font-size: 24px;
  margin: 0px;
}

.add-to-basket {
  width: 85%;
  height: 35px;
  background-color: rgb(140, 91, 238);

  color: #ffffff;
  font-size: 20px;
  margin-top: 15px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.add-to-basket:hover {
  background-color: rgb(165, 127, 240);
  color: white;
}
.card:hover {
  border-bottom: 5px solid rgb(162, 124, 237);
}
.card:hover .add-to-basket {
  border-radius: 5px;
  background-color: rgb(152, 109, 237);
  color: white;
}

.product-price {
  color: rgb(172, 135, 246);
  font-size: 20px;
  margin: 0px;
  margin-top: 20px;
}

.product-image {
  width: 90%;
  border-radius: 20px;
  user-select: none;
}

.image-align {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  height: 220px;
  background-color: #e0a1fd00;
  border-radius: 20px;
  overflow: hidden;
}

.image-align img {
  overflow: hidden;
  border-radius: 20px;
}

li {
  color: white;
}

@media (max-width: 1024px) {
  .card {
    flex-basis: 160px;
    min-width: 140px;
    height: 350px;
  }
  .product-image {
    width: 90%;
    height: fit-content;
    margin-right: 5px;
    margin-left: 5px;
  }

  .decrease-count {
    width: 20px;
    height: 20px;
  }
  .product-price {
    font-size: 16px;
  }
  .add-to-basket {
    height: 35px;
    font-size: 17px;
  }

  .count {
    width: 90px;
    height: 18px;
    font-size: 15px;
  }
  .count-font {
    position: relative;
    top: -1px;
    left: -1px;
    font-size: 18px;
    margin: 0px;
  }

  .increase-count {
    width: 20px;
    height: 20px;
    border: 0px;
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100px;
    min-width: 140px;
    height: 350px;
  }
  .product-image {
    margin-right: 5px;
    margin-left: 5px;
    height: fit-content;
  }

  .decrease-count {
    width: 20px;
    height: 20px;
  }
  .product-price {
    font-size: 16px;
  }
  .add-to-basket {
    height: 35px;
    font-size: 17px;
  }

  .count {
    width: 80px;
    height: 18px;
    font-size: 15px;
  }
  .count-font {
    font-size: 18px;
  }

  .increase-count {
    width: 20px;
    height: 20px;
    border: 0px;
  }
}

@media (max-width: 480px) {
  .greeting-msgs {
    line-height: 22px;
    border-right: 3px #7a6ad547 solid;
    border-left: 3px #7a6ad547 solid;
    padding: 10px;
  }
  .greeting-msgs div h2 {
    margin-left: 0px;
  }

  .greeting-msgs h1 {
    font-size: 14px;
    margin: 0px;
  }

  .greeting-msgs h2 {
    font-size: 18px;
    margin: 0px;
  }
  .greeting-msgs h3 {
    font-size: 12px;
    margin: 0px;
  }

  .greeting-msgs div {
    display: flex;
    flex-direction: column;
  }

  .card {
    flex-basis: 100px;
    min-width: 140px;
    height: 350px;
  }
  .product-image {
    margin-right: 5px;
    margin-left: 5px;
    height: fit-content;
  }

  .product-name {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .add-to-basket {
    height: 35px;
    font-size: 17px;
  }

  .decrease-count {
    width: 20px;
    height: 20px;
  }
  .product-price {
    font-size: 16px;
  }

  .count {
    width: 80px;

    height: 18px;
    font-size: 15px;
  }
  .count-font {
    position: relative;
    top: -1px;
    left: -1px;
    font-size: 19px;
    margin: 0px;
  }

  .increase-count {
    width: 20px;
    height: 20px;
    border: 0px;
  }
  .product-name {
    font-size: 16px;
  }

  .image-align {
    border-radius: 20px;
  }

  .no-items-msg-h {
    font-size: 20px;
  }
}
