/* Basket.css */
.basket {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 10px;
}

.payment-align {
  display: flex;
  justify-content: center;
}
.payment-box {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;

  flex-direction: row;

  width: 100%;
  height: 130px;
  background-color: #15111d;
  z-index: 2000;
  border-top: 3px solid #8c5bee;
  box-shadow: rgba(0, 0, 0, 0.471) 0px 0px 5px 4px;
}

.payment-confirm {
  position: absolute;
  bottom: 30px;
  height: 40px;
  background-color: #8c5bee;
  border: 0px;
  width: auto;
  padding-left: 13px;
  padding-right: 13px;
  color: #ffffff;
  font-size: 23px;
  transition: 0.3s;
  cursor: pointer;
}

.payment-confirm:hover {
  background-color: rgb(140, 91, 238);
  color: white;
}

.loading-message {
  margin-top: 180px;
}

.basket-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin-bottom: 200px;
}

.basket-item {
  width: 800px;
  height: 220px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #15111d;
  border-bottom: 3px solid #8c5bee;
  padding-bottom: 20px;
}

.total-cost {
  color: white;
  font-size: 25px;
}
.total-cost-number {
  color: #a075f5;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 18px;
}

.basket-item-image {
  width: 160px;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.sub-text-basket {
  color: rgba(255, 255, 255, 0.479);
  padding: 15px;
  width: 30%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  background-color: #2b203800;
  border: 1px solid rgba(255, 255, 255, 0.622);
}

.basket-item-details {
  flex: 1;
}

.basket-item-name {
  font-size: 25px;

  margin: 0px;

  margin-bottom: 10px;
  margin-top: 10px;
}

.remove-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  width: 27px;
  background-color: #a17cec;
  font-size: 24px;
  color: #2b2038;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 5px 4px;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.remove-button:hover {
  background-color: rgb(140, 91, 238);
  color: white;
}

.your-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  background-color: #15121b;
  height: 45px;
  width: 350px;
  font-size: 25px;
  color: #b09eff;
  transition: 0.3s;
  border-right: 7px #7a6ad575 solid;
  border-left: 7px #7a6ad57e solid;
}

.pre-size {
  font-size: 20px;
  color: #ffffff96;
  margin: 0;
}
.post-size {
  font-size: 20px;
  margin: 0;
  padding: 0;

  color: #a17cec;
}

@media (max-width: 1024px) {
  .basket-item {
    width: 768px;
    height: 220px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .your-basket {
    font-size: 25px;
  }
  .pre-size {
    font-size: 17px;
    margin: 0;
  }
  .post-size {
    font-size: 17px;
    margin: 0;
    padding: 0;
  }

  .total-cost {
    font-size: 20px;
  }
  .total-cost-number {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 14px;
  }
  .basket-item-name {
    width: 160px;
    font-size: 20px;
  }

  .basket-item-image {
    width: 120px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .basket-item {
    width: 480px;
    height: 170px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .sub-text-basket {
    font-size: 16px;
  }

  .payment-confirm {
    font-size: 20px;
  }
  .payment-box {
    height: 110px;
  }
}

@media (max-width: 480px) {
  .your-basket {
    font-size: 15px;
  }
  .pre-size {
    font-size: 13px;
    margin: 0;
  }
  .post-size {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  .basket-item-name {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .basket-item-image {
    width: 70px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .basket-item {
    width: 320px;
    height: 125px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .total-cost {
    font-size: 16px;
  }
  .total-cost-number {
    font-size: 16px;
    margin-left: 5px;
    margin-top: 11px;
  }

  .your-basket {
    width: 200px;
    font-size: 20px;
  }

  .payment-confirm {
    font-size: 18px;
  }
  .payment-box {
    height: 110px;
  }
}
