nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #16131c;
}
.header-logo {
  background-color: transparent;
  border: 0px;
  height: 1px;
  width: 64px;
  margin-right: 40px;
}
.header-logo img {
  position: absolute;
  top: -5px;
  left: -5px;
  height: 80px;
  width: 80px;
}
.main-text {
  width: 100px;
  color: #3091a7;
  margin: 5px;
  font-size: 24;
}

.align-header-text {
  position: relative;
  background-color: rgba(0, 0, 0, 0);

  width: 100%;

  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-btn {
  background-color: transparent;
  border: transparent;
  background-color: #07081300;
  border-radius: 0px 20px 0px 20px;
  margin-left: -25px;
}
.text-column {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-btn h1 {
  width: 260px;
  font-size: 45px;
  color: #e0a1fd;
}

.header-btn:hover {
  cursor: pointer;
}
.empty-space {
  width: 100%;
}
.nav-btns {
  width: 200px;
  display: flex;
  flex-direction: row;
}

.header-basket {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 25px;
  position: relative;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding-bottom: 0px;
  border-bottom: 4px solid #d3226300;
  transition: 0.2s;
  z-index: 300;
}

.header-basket:hover {
  border-bottom: 4px solid #e0a1fd;
  border-radius: 35px;
}

.basket-count {
  position: absolute;
  padding-top: 4px;

  right: -3px;
  top: -0px;
  width: 24px;
  height: 20px;
  border-radius: 20px;
  background-color: #e0a1fd;
  font-size: 15px;

  color: #16131c;
}

.header-basket h1 {
  margin-top: -5px;
  font-size: 14px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-logo {
    background-color: transparent;
    border: 0px;
    height: 1px;
    width: 0px;
    margin-right: 0px;
  }
  .header-logo img {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 0px;
    width: 0px;
  }
}

@media (max-width: 480px) {
  nav {
    height: 30px;
  }
  .empty-space {
    width: 70%;
  }
  .basket-image {
    width: 40px;
  }
  .basket-count {
    position: absolute;
    padding-top: 4px;

    right: -4px;
    top: -0px;
    width: 22px;
    height: 18px;
    border-radius: 20px;
    font-size: 15px;
  }
  .header-btn {
    border-radius: 0px 20px 0px 20px;
    margin-left: -25px;
    margin-left: 15px;
  }
  .header-btn h1 {
    width: 170px;
    font-size: 25px;
  }
  .align-header-text {
    margin-left: 100px;
    margin-right: 100px;
  }
}
