nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background: #16131c;
}
.header-logo {
  background-color: transparent;
  border: 0px;
  height: 1px;
  width: 34px;
  margin-right: 40px;
}
.header-logo img {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 45px;
  width: 45px;
}
.main-text {
  width: max-content;
  font-size: 25px;
  margin: 5px;
  color: #e0a1fd;
}

.align-header-text {
  position: relative;
  background-color: rgba(0, 0, 0, 0);

  width: 100%;
  max-width: 1000px;

  margin-left: 30px;
  margin-right: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-btn {
  background-color: transparent;
  border: transparent;
  background-color: #07081300;
  border-radius: 0px 20px 0px 20px;
  margin-left: -25px;
}
.text-column {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-btn:hover {
  cursor: pointer;
}
.empty-space {
  width: 100%;
}
.nav-btns {
  width: max-content;
  display: flex;
  flex-direction: row;
}

.header-basket {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 25px;
  position: relative;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding-bottom: 0px;
  border-bottom: 4px solid #d3226300;
  transition: 0.2s;
  z-index: 300;
}
.basket-image {
  width: 40px;
}

.header-basket:hover {
  border-bottom: 4px solid #e0a1fd;
  border-radius: 35px;
}

.basket-count {
  position: absolute;
  padding-top: 4px;

  right: -3px;
  top: -0px;
  width: 20px;
  height: 15px;
  border-radius: 20px;
  background-color: #e0a1fd;
  font-size: 15px;

  color: #16131c;
}

.header-basket h1 {
  margin-top: -5px;
  font-size: 12px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .header-logo {
    background-color: transparent;
    border: 0px;
    height: 1px;
    width: 0px;
    margin-right: 0px;
  }
  .header-logo img {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 0px;
    width: 0px;
  }
}

@media (max-width: 480px) {
  nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .basket-image {
    width: 40px;
  }
  .basket-count {
    position: absolute;
    padding-top: 4px;

    right: -4px;
    top: -0px;
    width: 22px;
    height: 18px;
    border-radius: 20px;
    font-size: 15px;
  }

  .header-btn h1 {
    font-size: 25px;
  }
  .align-header-text {
    margin-left: 30px;
    margin-right: 30px;
  }
}
