.align-cards-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit-modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 500px;
  min-height: 450px;
  padding: 30px;
  background-color: #15111d;
  border-bottom: 3px solid #e0a1fd;
  border-top: 3px solid #e0a1fd;
  box-shadow: rgba(0, 0, 0, 0.309) 0px 0px 15px 15px;
}

.save-btn:hover {
  background-color: #7239bd;
}

.edit-modal > h3 {
  position: absolute;
  top: 10px;
  font-size: 25px;
  color: white;
}

.section-name {
  font-size: 18px;
  color: white;
}
.section-box {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  width: 100%;
  margin-right: 380px;
  margin-top: 5px;
}

.save-btn {
  position: absolute;
  bottom: 20px;
  width: 180px;
  height: 35px;
  background-color: #e0a1fd;
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.text-input {
  background-color: #241a2e;
  border: 0px;
  height: 30px;
  width: 300px;
  padding: 5px;

  color: white;

  margin-left: 10px;
}

.file-input {
  font-size: 20px;

  bottom: 30px;
  width: 250px;
  height: 35px;
  background-color: #d38c2200;
  color: white;
  font-size: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  z-index: 500;
}

.section-box > textarea {
  background-color: #241a2e;
  border: 0px;

  width: 300px;
  resize: none;
  padding: 5px;

  color: white;

  margin-left: 10px;
}

.edit-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(4px); /* Adjust the blur radius as needed */
  display: flex;
  z-index: 500;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.fake-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;

  bottom: 20px;
  width: 250px;
  height: 35px;
  background-color: #ffffff19;
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.image-load-box {
  position: relative;
  bottom: -10px;
}
.image-btn-name {
  position: absolute;
  top: -5px;
  width: 250px;
  text-align: center;

  font-size: 17px;
  color: white;
}

.product-price-edit {
  color: #e0a1fd;
  font-size: 27px;
  margin: 10px;
}

.product-name-edit {
  color: white;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin: 0px;
  margin-top: 10px;
}

.product-image-edit {
  width: 170px;
  border-radius: 20px;

  user-select: none;
}

.edit-btn {
  position: absolute;
  bottom: 20px;
  width: 140px;
  height: 35px;
  background-color: #482dbf;
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.edit-delete-btn {
  position: absolute;
  bottom: 70px;
  width: 140px;
  height: 35px;
  background-color: #8f31c9;
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.new-btn {
  top: 70px;
  width: 160px;
  height: 35px;
  background-color: rgb(140, 91, 238);
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.6s;
}

.new-btn:hover {
  background-color: rgb(165, 127, 240);
  border-radius: 15px;
  color: white;
}

.edit-title {
  color: white;
}
.align-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.cancel-btn {
  position: absolute;
  top: 70px;
  width: 120px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.083);
  color: white;
  font-size: 17px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .redact-title {
    margin-top: 50px;
    color: red;
  }
  .cancel-btn {
    margin-top: 40px;
    width: 120px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.083);
    color: white;
    font-size: 17px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  }

  .edit-modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;

    background-color: #15111d;
    border-bottom: 3px solid #e0a1fd;
    border-top: 3px solid #e0a1fd;
    box-shadow: rgba(0, 0, 0, 0.309) 0px 0px 15px 15px;
  }

  .save-btn {
    margin-bottom: 50px;
    width: 180px;
    height: 35px;

    color: white;
    font-size: 17px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  }
  #little-align {
    margin-left: 40px;
  }
}

@media (max-width: 480px) {
  #little-align {
    margin-left: 0px;
  }
  .product-price-edit {
    color: #e0a1fd;
    font-size: 23px;
    margin: 10px;
  }

  .product-name-edit {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
  }

  .product-image-edit {
    width: 130px;
    border-radius: 20px;

    user-select: none;
  }

  .edit-btn {
    position: absolute;
    bottom: 20px;
    width: 120px;

    height: 25px;

    color: white;
    font-size: 17px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  }

  .edit-delete-btn {
    position: absolute;
    bottom: 60px;
    width: 120px;
    height: 25px;

    color: white;
    font-size: 17px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  }
  .edit-title {
    font-size: 25px;
  }

  .edit-modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: #15111d;
    border-bottom: 3px solid #e0a1fd;
    border-top: 3px solid #e0a1fd;
    box-shadow: rgba(0, 0, 0, 0.309) 0px 0px 15px 15px;
  }
}
